h1 {
  font-size: 64px;
  font-family: Times New Roman;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-family: Sans Serif;
  font-style: Italic;
  margin-top: 5px;
}

h3 {
  font-size: 40px;
  font-family: Times New Roman;
  font-style: Bold;
  text-decoration: Underline;
}

img.center {
    display: block;
    margin: 0 auto;
}

figcaption {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-variant: small-caps;
    font-family: Arial;
    font-weight: bold;
    color: #bb3333;
}
figure {
    padding: 5px;
}
ul { 
  display:table; margin:0 auto;
}

.bold {
font-weight:bold;
}
body {
  background-color: AntiqueWhite;
}